@{
    ViewBag.Title = "Confirmación de Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Gracias por tu pedido!</h2>
<p>Tu pedido ha sido procesado correctamente.</p>
<a href="@Url.Action("CrearPedido", "Pedido")" class="btn btn-success">Hacer otro pedido</a>